body {
    color: #D9D9D9;
    background-color: #0D0D0D;
}

hr {
    width: 600px;
    size: 2px;
}

.arrow_link, .cv_button, .social_media_link, .project_link {
    color: #D9D9D9;
}

.title_name {
    font-family: "Sen", sans-serif;
    font-optical-sizing: auto;
    font-weight: bolder;
    font-style: normal;
    font-size:xx-large;
}

.subtitle, .cv_button {
    font-weight: bold;
}

p, li, span, input, button, .chat-container, .links_section, .cv_button, .project_link {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.projects_container{
    padding-top: 3%;
}

.social_media_name_column {
    padding-right: 30px;
}

.description_project_column {
    padding-bottom: 10%;
}

.profile_container {
    display: flex;
    flex-direction: column;
    justify-content: center;  /* Centra los elementos verticalmente */
    align-items: center;      /* Centra los elementos horizontalmente */
    /* height: 100vh;             Asegura que el contenedor ocupe toda la altura de la pantalla */
    gap: 20px;                /* Establece el espacio entre las secciones */
    margin-top: 10%;
    margin-bottom: 10%;

    /* Animation */
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease, transform 1s ease;
}

.profile_container.visible {
    opacity: 1;
    transform: translateY(0);
}

.links_section, .about_me_container {
    width: 100%;              /* Asegura que la sección de links ocupe todo el ancho disponible */
    max-width: 600px;         /* Limita el ancho máximo de la sección de links */
    text-align: left;         /* Alinea el texto de los links a la izquierda */
}
  
.profile_section {
    width: 100%;              /* Asegura que la sección de perfil ocupe todo el ancho disponible */
    max-width: 600px;         /* Limita el ancho máximo de la sección de perfil */
}
  
/* Media Query para pantallas pequeñas */
@media (max-width: 768px) {
        .profile_container {
        padding: 20px;          /* Agrega un poco de espacio alrededor en pantallas pequeñas */
        align-items: center;    /* Asegura que los elementos sigan centrados */
    }
    
    .links_section {
        text-align: left;       /* Mantiene el texto de los links alineado a la izquierda */
        margin-left: 0;         /* Elimina cualquier margen izquierdo adicional en pantallas pequeñas */
        }
}

/* Something epic */

.chat-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
  }
  
  .chat-button {
    background-color: #262626;
    color: white;
    border: none;
    border-radius: 50%;
    padding: 15px;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .chat-button:hover {
    background-color: #8C8C8C;
  }
  
  .chat-window {
    position: fixed;
    bottom: 80px;
    right: 20px;
    width: 300px;
    max-height: 400px;
    background-color: #0D0D0D;
    border: 1px solid #ddd;
    /*border-radius: 10px;*/
    display: none;
    flex-direction: column;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .chat-header {
    background-color: #262626;
    color: white;
    padding: 10px;
    /*border-top-left-radius: 10px;
    border-top-right-radius: 10px;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .chat-body {
    padding: 10px;
    overflow-y: auto;
    flex: 1;
  }
  
  .chat-footer {
    display: flex;
    border-top: 1px solid #ddd;
  }
  
  .chat-footer input {
    flex: 1;
    padding: 10px;
    border: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    outline: none;
  }
  
  .chat-footer button {
    background-color: #262626;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  
  .chat-footer button:hover {
    background-color: #262626;
  }
  
  .close-button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
  }
  